.home h1 {
  font-family: "IBM Plex Sans JP", sans-serif;
  font-weight: normal;
}
.home p {
  text-align: left;
  line-height: 2rem;
  font-family: "IBM Plex Sans JP", sans-serif;
  color: #777788;
  text-decoration: none;
}
.home h2 {
  font-family: "IBM Plex Sans JP", sans-serif;
  font-weight: bold;
  color: #777788;
  text-decoration: none;
}
.Link {
  font-family: "IBM Plex Sans JP", sans-serif;
  font-weight: normal;
  color: #777788;
  text-decoration: none;
}

html,
body,
root {
  height: 100%;
}
#root {
  height: 100%;
}
.stadion {
  width: 80%;
}